[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
munch = "*"
sentry-sdk = "*"
# dblpy = "*"
dis-snek = "*"
orjson = "*"
dis-taipan = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
